
<header class="index_header">
  <h2> All Bands </h2>

  <form id="new_band_button" action="<%= new_band_url %>" method="post">
    <input type="hidden" name="_method" value="get">
    <input type="submit" value="add">
    <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
  </form>
</header>

<% @bands.each do |band| %>
  <%= render "index_list_item", band: band %>
<% end %>
